<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title>Catálogo de Partidas</title >
</head>
<body>
<div align="center">
	<div sec:autorize="isAuthenticated()">
		Bienvenido <b><span style="color:blue" sec:authentication="name"></span></b>
		&nbsp; <!-- no break space vemf 22/06/2020-->
		<i><span sec:authentication="principal.authorities">Roles</span></i>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
	</div>
<div>
	</div> <a href="nuevo">Crea nueva partida</a>
	<br/><br/>
	<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Origen</th>
					<th>Partida</th>
					<th>Estatus Reg</th>
					
					<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>	
					
				</tr>
			</thead>
		<tbody>
			<tr th:each="cntpartida : ${listCntPartidas}">
				<td th:text="${cntpartida.id}">Id</td>
				<td th:text="${cntpartida.origen}">Id</td>
				<td th:text="${cntpartida.partida}">Id</td>
				<td th:text="${cntpartida.estatusReg}">Id</td>
				
				<td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
					<a th:href="@{'/editar/' + ${cntpartida.id}}">
					<img th:src="@{/images/edit-black.png}" title="Editar"/></a>										
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/borrar/' + ${cntpartida.id}}">
					<img th:src="@{/images/delete-black.png}" title="Borrar"/></a>			
				</td>
			</tr>
		</tbody>
	</table>		
</div>
</body>
</html>