<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Crea nueva partida</title>
</head>
<body>
	<div align="center">
	<h1>Crea nueva partida</h1>
	<br/>
	<form action="#" th:action="@{/salvar}" th:object="${cntPartida}" method="post">
		<table border="0" cellpadding="10">
			<tr>
				<td>Origen:</td>
				<td><input type="text" th:field="*{origen}" /></td>
			</tr>
			<tr>
				<td>Partida:</td>
				<td><input type="text" th:field="*{partida}" /></td>
			</tr>				
				<tr>
				<td>Estatus Reg:</td>
				<td><input type="text" th:field="*{estatusReg}" /></td>
			</tr>				
			<tr>
				<td colspan="2"><button type="submit">Savar</button></td>
			</tr>
		</table>
	</form>
</body>
</html>